html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --sans: "Arial", sans serif;
  --navtext: "Montserrat", sans serif;
  --blue: #49a6e9;
}

body {
  font-family: var(--sans);
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

/* HEADER & NAV STYLING */

header {
  border-bottom: 1px solid black;
  background-image: url("img/FBT_header_img.png");
  background-size: cover;
  padding-top: 1rem;
  height: auto;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-img {
  width: 250px;
  margin-left: 2rem;
}

.logo-container {
  background-color: transparent;
}

.nav-toggle {
}

button {
  border: none;
  margin-right: 2rem;
  background-color: transparent;
}

.fa-bars {
  color: var(--blue);
  font-size: 2.5rem;
  background-color: transparent;
}
.fa-bars:hover {
  font-size: 3rem;
  cursor: pointer;
  transform: rotate(90deg);
  transition: all 0.1s linear;
}

nav {
}

nav a {
  text-decoration: none;
  padding: 1rem;
  font-size: 1.3rem;
  color: black;
}

nav a:hover {
  color: slategrey;
}

ul {
  list-style: none;
  text-decoration: none;
}

li {
  display: block;
  margin-bottom: 1rem;
  text-align: center;
}

.links {
  height: 0;
  overflow: hidden;
}

.show-links {
  height: 10rem;
}

/* footer */

footer {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  background-color: black;
  color: white;
}

/* MEDIA QUERIES */

@media (min-width: 780px) {
  .nav-toggle {
    display: none;
  }

  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    font-size: 1.2rem;
  }
}

@media (max-width: 920px) {
}
