html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --sans: "Arial", sans serif;
  --navtext: "Montserrat", sans serif;
}

body {
  font-family: var(--sans);
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid black;
  background-image: url("img/FBT_header_img.png");
  background-size: cover;
}

.logo-img {
  width: 250px;
  margin-left: 1rem;
}

.logo-container {
  background-color: transparent;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

nav a {
  text-decoration: none;
  padding: 1rem;
  color: black;
}

nav a:hover {
  color: slategrey;
}

ul {
  list-style: none;
  text-decoration: none;
}

li {
  display: inline-block;
}

.title {
  width: 50%;
  margin: 1em auto;
  padding-top: 2rem;
  text-align: center;
  font-family: var(--sans);
}

main {
  min-width: 25rem;
  max-width: 50%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--sans);
}

.key-display {
  border: 1px solid black;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px gray;
  padding: 2rem 1rem 1rem 1rem;
  font-size: 8rem;
  text-align: center;
  margin: 1rem 0px;
  min-height: 210px;
  min-width: 210px;
  width: 30vw;
}

.key-btn {
  width: 30vw;
  min-width: 210px;
  align-self: center;
  padding: 0.5rem;
  font-size: medium;
  border-radius: 5px;
}

@media (max-width: 640px) {
  li {
    display: block;
    margin-bottom: 1rem;
    text-align: center;
  }
}

@media (max-width: 900px) {
  header {
    flex-flow: row wrap;
  }
  nav {
    width: 100%;
    justify-content: space-evenly;
  }
  .logo-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
