@import "./base.css";

/* HEADER & NAV STYLING */

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  border: none;
  margin-right: 2rem;
  background-color: transparent;
}

.fa-bars {
  color: var(--blue);
  font-size: 2.5rem;
  background-color: transparent;
}
.fa-bars:hover {
  font-size: 3rem;
  cursor: pointer;
  transform: rotate(90deg);
  transition: all 0.1s linear;
}

nav a {
  text-decoration: none;
  padding: 1rem;
  font-size: 1.3rem;
  color: black;
}

nav a:hover {
  color: slategrey;
}


/* footer */

footer {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  background-color: black;
  color: white;
}

/* MEDIA QUERIES */

@media (min-width: 780px) {
  .nav-toggle {
    display: none;
  }

  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    font-size: 1.2rem;
  }
}

@media (max-width: 920px) {
}
