@import "./base.css";

/* HEADER & NAV STYLING */

button {
  border: none;
  margin-right: 2rem;
  background-color: transparent;
}

.fa-bars {
  color: var(--blue);
  font-size: 2.5rem;
  background-color: transparent;
}
.fa-bars:hover {
  font-size: 3rem;
  cursor: pointer;
  transform: rotate(90deg);
  transition: all 0.1s linear;
}
/* blog post grid */

.grid__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
}

.blog__post-img {
  background-color: grey;
  height: 200px;
  width: 200px;
}


/* footer */

footer {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  background-color: black;
  color: white;
}

/* MEDIA QUERIES */

@media (min-width: 1050px) {
  .nav-toggle {
    display: none;
  }
}

